version: '3.9'

services:
  mariadb:
    image: mariadb
    container_name: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
    networks:
      - exchange_api
    ports:
      - 3306:3306
    volumes:
      - mariadb_data:/var/lib/mysql

  gateway:
    build:
      context: ./exchange_api_gateway
    container_name: gateway
    networks:
      - exchange_api
    ports:
      - 8001:8000
    volumes:
      - ./exchange_api_gateway:/gateway
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}

  auth:
    build:
      context: ./exchange_api_auth
    container_name: auth
    networks:
      - exchange_api
    ports:
      - 8002:8000
    volumes:
      - ./exchange_api_auth:/auth
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}

  account:
    build:
      context: ./exchange_api_account
    container_name: account
    depends_on:
      - mariadb
    networks:
      - exchange_api
    ports:
      - 8003:8000
    volumes:
      - ./exchange_api_account:/account
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
    
  exchange:
    build:
      context: ./exchange_api_exchange
    container_name: exchange
    networks:
      - exchange_api
    ports:
      - 8004:8000
    volumes:
      - ./exchange_api_exchange:/exchange
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}

networks:
  exchange_api:
    driver: bridge

volumes:
  mariadb_data:
